<body>
<div>
<img src='../../media/images/defaultimage.jpeg' height="auto" width="300px" align='right'><h1><i>AllDjecipes - The Real Cooking Network</i></h1>
{% if  user.username  != ''%}
<nav>
<a href='/'> Home </a> | 
<a href='/chefuser/{{user.id}}'>Profile</a> |
<a href='/addrecipe/'> Add Recipe </a> 
<a href='/logout/'> Log out </a> | 
</nav>
{% endif %}
{% if  user.username  == ''%}
<nav>
<a href='/'> Home </a> | 
<a href='/adduser/'> Sign Up </a> | 
<a href='/login/'> Login </a> 
</nav>
{% endif %}



<h2>OurCommunity of Creators</h2>
{% for thing in chefusers %}
        <a href='/chefuser/{{thing.id}}'><h3>{{thing}} </h3></a><br>
{% endfor %}
</div>
</body>