<body style='background-color:lightgrey; padding:20px'>
<div style="background-color:lightblue; padding:10px">
<img src='../../media/images/defaultimage.jpeg' height="auto" width="300px" align='right'><h1><i>AllDjecipes - The Real Cooking Network</i></h1>
{% if  user.username  != ''%}
<nav style='background-color:lightgrey; width:auto'>
<a href='/' style='background:transparent'> Home </a> | 
<a href='/chefuser/{{user.id}}' style='background:transparent'>Profile</a> |
<a href='/addrecipe/' style='background:transparent'> Add Recipe </a> 
<a href='/logout/' style='background:transparent'> Log out </a> | 
</nav>
{% endif %}
{% if  user.username  == ''%}
<nav style='background-color:lightgrey; padding-right:10px'>
<a href='/' style='background:transparent'> Home </a> | 
<a href='/adduser/' style='background:transparent'> Sign Up </a> | 
<a href='/login/' style='background:transparent'> Login </a> 
</nav>
{% endif %}



<h2>OurCommunity of Creators</h2>
{% for thing in chefusers %}
        <a href='/chefuser/{{thing.id}}'><h3>{{thing}} </h3></a><br>
{% endfor %}
</div>
</body>