<body >
<div >
<img src='../../media/images/defaultimage.jpeg' height="auto" width="300px" align='right'><h1><i>AllDjecipes - The Real Cooking Network</i></h1>
{% if  user.username  != ''%}
<nav >; width:auto'>
<a href='/' > Home </a> | 
<a href='/users/' > All Users </a> | 
<a href='/chefuser/{{user.id}}' >Profile</a> |
<a href='/addrecipe/' > Add Recipe </a> |
<a href='/logout/' > Log out </a> 
</nav>
<h2>Welcome {{ user.username }}!</h2>
{% endif %}
{% if  user.username  == ''%}
<nav >
<a href='/' > Home </a> | 
<a href='/users/' > All Users </a> |
<a href='/adduser/' > Sign Up </a> | 
<a href='/login/' > Login </a> 
</nav>
<h2>Hello, There!<h2>
{% endif %}
{% for item in category_item %}
    <ul>
    <img src='{{ item.image.url }}'height="auto" width="45">  <a href='/recipe/{{item.id}}/'>{{item.recipe_name}}</a> <br> Overall: 
    {% if item.total > 0 %} Liked! {% endif %} 
    {% if item.total == 0 %} Not rated {% endif %} 
    {% if item.total < 0 %} Not well liked {% endif %}
    </ul>
{% endfor %}


