<body style='background-color:lightgrey; padding:20px'>
<div style="background-color:royalblue; padding:10px">
<img src='../../media/images/defaultimage.jpeg' height="auto" width="300px" align='right'><h1><i>AllDjecipes - The Real Cooking Network</i></h1>
{% if  user.username  != ''%}
<nav style='background-color:lightgrey; width:auto'>
<a href='/' style='background:transparent'> Home </a> | 
<a href='/users/' style='background:transparent'> All Users </a> | 
<a href='/chefuser/{{user.id}}' style='background:transparent'>Profile</a> |
<a href='/addrecipe/' style='background:transparent'> Add Recipe </a> |
<a href='/logout/' style='background:transparent'> Log out </a> 
</nav>
<h2>Welcome {{ user.username }}!</h2>
{% endif %}
{% if  user.username  == ''%}
<nav style='background-color:lightgrey; padding-right:10px'>
<a href='/' style='background:transparent'> Home </a> | 
<a href='/users/' style='background:transparent'> All Users </a> |
<a href='/adduser/' style='background:transparent'> Sign Up </a> | 
<a href='/login/' style='background:transparent'> Login </a> 
</nav>
<h2>Hello, There!<h2>
{% endif %}
{% for item in category_item %}
    <ul>
    <img src='{{ item.image.url }}'height="auto" width="30">  <a href='/recipe/{{item.id}}/'>{{item.recipe_name}}</a>  {{item.total}}
    </ul>
{% endfor %}


