<body >
<div>
<img src='../../media/images/defaultimage.jpeg' height="auto" width="300px" align='right'><h1><i>AllDjecipes - The Real Cooking Network</i></h1>
{% if  user.username  != ''%}
<nav>
<a href='/'> Home </a> | 
<a href='/users/'> All Users </a> | 
<a href='/chefuser/{{user.id}}'>Profile</a> |
<a href='/addrecipe/'> Add Recipe </a> |
<a href='/logout/'> Log out </a> 
</nav>
{% endif %}
{% if  user.username  == ''%}
<nav>
<a href='/'> Home </a> | 
<a href='/users/'> All Users </a> | 
<a href='/adduser/'> Sign Up </a> | 
<a href='/login/'> Login </a> 
</nav>
{% endif %}

<form action='' method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>