<h1>AllDjecipes - The Real Cooking Network</h1>
{% if  user.username  != ''%}
<nav>
<a href='/logout/'> Log out </a> | 
<a href='/chefuser/{{user.id}}'>Profile</a> |
<a href='/addrecipe/'> Add Recipe </a> 
</nav>
<h2>Welcome {{ user.username }}!</h2>
{% endif %}
{% if  user.username  == ''%}
<nav>
<a href='/adduser/'> Sign Up </a> | 
<a href='/login/'> Login </a> 
</nav>
<h2>Hello, There!<h2>
{% endif %}

<a href='/filter/breakfast/'>Breakfast</a>
<br>
<a href='/filter/brunch/'>Brunch</a>
<br>
<a href='/filter/appetizer/'>Appetizer</a>
<br>
<a href='/filter/lunch/'>Lunch</a>
<br>
<a href='/filter/dinner/'>Dinner</a>
<br>
<a href='/filter/dessert/'>Dessert</a>
<br>