<body style='background-color:lightgrey; padding:20px'>
<div style="background-color:royalblue; padding:10px">
<img src='../../media/images/defaultimage.jpeg' height="auto" width="300px" align='right'><h1><i>AllDjecipes - The Real Cooking Network</i></h1>
{% if  user.username  != ''%}
<nav style='background-color:lightgrey; width:auto'>
<a href='/users/' style='background:transparent'> All Users </a> | 
<a href='/chefuser/{{user.id}}' style='background:transparent'>Profile</a> |
<a href='/addrecipe/' style='background:transparent'> Add Recipe </a> |
<a href='/logout/' style='background:transparent'> Log out </a> 
</nav>
<h2>Welcome {{ user.username }}!</h2>
{% endif %}
{% if  user.username  == ''%}
<nav style='background-color:lightgrey; padding-right:10px'>
<a href='/users/' style='background:transparent'> All Users </a> | 
<a href='/adduser/' style='background:transparent'> Sign Up </a> | 
<a href='/login/' style='background:transparent'> Login </a> 
</nav>
<h2>Hello, There!<h2>
{% endif %}

<a href='/category/breakfast/'>Breakfast</a>
<br>
<a href='/category/brunch/'>Brunch</a>
<br>
<a href='/category/appetizer/'>Appetizer</a>
<br>
<a href='/category/lunch/'>Lunch</a>
<br>
<a href='/category/dinner/'>Dinner</a>
<br>
<a href='/category/dessert/'>Dessert</a>
<br>
</div>
</body>