<body >
<div >
<img src='../../media/images/defaultimage.jpeg' height="auto" width="300px" align='right'><h1><i>AllDjecipes - The Real Cooking Network</i></h1>
{% if  user.username  != ''%}
<nav >
<a href='/users/' > All Users </a> | 
<a href='/chefuser/{{user.id}}' >Profile</a> |
<a href='/addrecipe/'> Add Recipe </a> |
<a href='/logout/' > Log out </a> 
</nav>
<h2>Welcome {{ user.username }}!</h2>
{% endif %}
{% if  user.username  == ''%}
<nav >
<a href='/users/' > All Users </a> | 
<a href='/adduser/' > Sign Up </a> | 
<a href='/login/' > Login </a> 
</nav>
<h2>Hello, There!<h2>
{% endif %}

<a href='/category/breakfast/'>Breakfast</a>
<br>
<a href='/category/brunch/'>Brunch</a>
<br>
<a href='/category/appetizer/'>Appetizer</a>
<br>
<a href='/category/lunch/'>Lunch</a>
<br>
<a href='/category/dinner/'>Dinner</a>
<br>
<a href='/category/dessert/'>Dessert</a>
<br>
</div>
</body>