<!DOCTYPE html>
<html lang="en" style="background-image:url(https://www.health.harvard.edu/media/content/images/p3_MedDiet_W1806_gi667751254.jpg)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AllDjecipes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="margin-left:50px; margin-right:50px; margin-top:20px; border-radius:10px">
<div style='padding:5px;'>
<img src='../../media/images/defaultimage.jpeg' height="auto" width="300px" align='right'><h1><i>AllDjecipes - The Real Cooking Network</i></h1>
{% if  user.username  != ''%}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/">All Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/chefuser/{{logged.id}}">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/addrecipe/">Add Recipe</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/logout/" tabindex="-1">Log out</a>
  </li>
</ol>
</nav>
{% endif %}
{% if  user.username  == ''%}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/">All Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/adduser/">Sign Up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/login/" tabindex="-1">Login</a>
  </li>
</ol>
</nav>
{% endif %}
<div id='header'>
<h2>{{ recipe }}</h2> by {{recipe.creator}}
</div>
<img src='{{ recipe.image.url }}'>
{% if recipe.difficulty_level %}
<h3>Difficulty: Easy</h3>
{% endif %}
{% if not recipe.difficulty_level %}
<h3>Difficulty: Hard</h3>
{% endif %}
<h3>Time: {{recipe.completion_time}}</h3>
<h3>Ingredients:</h3>
{% for foo in ingredients %}
<h4><ul>
    <li>
    {{ foo }}
    </li>
</ul></h4>
{% endfor %}
<h3>Steps:</h3>
<h4><ol>
{% for foo in instructions %}
    <li>
    {{ foo }}
    </li>
{% endfor %}
</ol></h4>
{{recipe.contact}}
<br>
    <a href='/recipeupvote/{{recipe.id}}'><button>C'est Bon!</button></a>
    {{ recipe.total }}
    <a href='/recipedownvote/{{recipe.id}}'><button>C'est Ordures</button></a>
    <br>
    {% if logged == recipe.creator %}
<a href='/editrecipe/{{recipe.id}}'><button> Edit Recipe</button></a> 
    {% endif %}
<h2>Comments:</h2>
{% for comment in comments %}
    <div>
    {{comment.content}}
    <br>
    -{{comment.commentor}}
    <br>
    <a href='/commentupvote/{{comment.id}}'><button>C'est Bon!</button></a>
    {{ comment.total }}
    <a href='/commentdownvote/{{comment.id}}'><button>C'est Ordures</button></a>
    <br>
    </div>
{% endfor %}
<br>
<a href='/{{recipe.id}}/addcomment/'><button> Add Comment</button></a> 

</div>
</body>
</html>